.idea/
.settings
.project

*.bak
*.tmp
Thumbs.db

test_music/
music/

# dependencies
node_modules/

# testing
coverage/
public/testMusic/

# production
## build/

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
