.ControlBar {
    height: 8rem;
    position: absolute;
    bottom: 0;
    background: #333;
    width: 100%;
}

.ControlBar .playCtrlColumn {
    width: 20rem;
    float: left;
    padding-top: 3rem;
}

.ControlBar .playProgressColumn {
    margin-left: 20rem;
    margin-right: 16rem;
    padding-top: 3.2rem;
}

.ControlBar .playModeColumn {
    width: 15rem;
    float: right;
    padding-top: 3rem;
}

.ControlBar .playTimeColumn {
    color: #fff;
}

