.SongListOuter {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.SongListInner {
    position: relative;
    width: 100%;
}

.SongListInner ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.SongListInner .songItem {
    list-style: none;
    position: absolute;
    width: 100%;
    cursor: pointer;
}

/*.SongListInner .songItemOdd {
    background-color: #fff;
}

.SongListInner .songItemEven {
    background-color: #e0fdff;
}*/

.SongListInner .songItem:hover {
    background-color: #e5f3ff;
}

.SongListInner .songItem:active {
    background-color: #cce8ff;
}

.SongListInner .songItemCurrent,
.SongListInner .songItemCurrent:hover,
.SongListInner .songItemCurrent:active {
    background-color: #cce8ff;
}