.MainFrame {
    position: absolute;
    top: 6rem;
    /*bottom: 8rem;*/
    bottom: 11rem;
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 540px) {
    .MainFrame {
        bottom: 8rem;
    }
}

@media screen and (max-width: 540px) {
    .MainFrame {
        bottom: 11rem;
    }
}

.MainFrame .SongListFrame {
    position: relative;
    width: 100%;
    height: 100%;
}

.MainFrame .SongInfoFrame {
    width: 100%;
    height: 100%;
}