.MainFrame {
    position: absolute;
    top: 6rem;
    /*bottom: 8rem;*/
    bottom: 11rem;
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 540px) {
    .MainFrame {
        bottom: 8rem;
    }
}

@media screen and (max-width: 540px) {
    .MainFrame {
        bottom: 11rem;
    }
}

@media screen and (min-width: 680px) {
    .MainFrame {
        display: flex;
    }

    .MainFrame .SongListFrame {
        flex-grow: 1;
    }

    .MainFrame .SongInfoFrame {
        width: 40%;
        max-width: 40rem;
    }
}

@media screen and (max-width: 680px) {
    .MainFrame .SongListFrame,
    .MainFrame .SongInfoFrame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .MainFrame .SongListFrame {
        z-index: 1;
    }

    .MainFrame .SongInfoFrame {
        z-index: 2;
    }
}
