.ListItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

.ListItemActive {
    transform: scale(0.99);
}

.ListItem .li-cell {
    margin: 0 0.5rem;
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ListItem .li-title {
    flex-basis: 50%;
}

.ListItem .li-artist {
    flex-basis: 25%;
}

.ListItem .li-album {
    flex-basis: 25%;
}

.ListItem .li-duration {
    width: 4em;
    text-align: right;
}